// Tipos de Fuentes
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

// Peso de las Fuentes
$regular: 400;
$light: 300;
$italic: 900;

// Tamaño de las Fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;